.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-text-primary);
}

.required {
  color: var(--color-danger);
}

.input {
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--color-border-input);
  border-radius: 0.375rem;
  font-size: 1rem;
  color: var(--color-text-primary);
  background-color: var(--background);
  width: 100%;
  min-height: 2.75rem;

  &:hover {
    border-color: var(--color-border-input-hover);
    background-color: var(--color-background-input-hover);
    transition: all 200ms linear;
  }

  &:focus-visible {
    outline: 3px solid var(--color-primary);
    outline-offset: 2px;
    border-color: var(--color-border-input-focus);
  }
}

.inputError {
  border-color: var(--color-danger);

  &:hover,
  &:focus-visible {
    border-color: var(--color-danger-interaction);
    outline-color: var(--color-danger-interaction);
  }
}

.error {
  font-size: 0.8125rem;
  color: var(--color-danger);
  font-weight: 500;
  min-height: 1.25rem;
}