$color-primary: #0d1bb0;
$color-primary-dark: #3730a3;

$color-secondary-light: #0e7490;
$color-secondary-dark: #06b6d4;

$color-success-light: #0b8739;
$color-success-dark: #22c55e;

$color-warning-light: #b45309;
$color-warning-dark: #fbbf24;

$color-danger-light: #980d0d;
$color-danger-dark: #f87171;

$color-text: #111827;
$color-background: #f9fafb;
$color-border: #d1d5db;
$color-background-sunken: #f3f4f6;

$text-primary: #000000;
$text-secondary: #666666;